# Python caching & bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Java compilation artifacts
*.class
*.dex
classes.dex

# Logs & temp files
*.log
temp_payload.txt

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
